<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Admin Login</title>
  <link rel="stylesheet" href="admin-style.css">
</head>
<body>
  <form method="POST">
    <div class="card">
      {% with messages = get_flashed_messages(category_filter=["error"]) %}
        {% if messages %}
          <div class="flash">{{ messages[0] }}</div>
        {% endif %}
      {% endwith %}
      <h2>Admin Login</h2>
      <label>Username</label>
      <input type="text" name="username" placeholder="Enter username" required>
      <label>Password</label>
      <input type="password" name="password" placeholder="Enter password" required>
      <input type="submit" value="Login">
    </div>
  </form>
</body>
</html>
